body {
    background: lavender;
}

.Gryffindor {
    background: pink;
}

.Slytherin {
    background: lightgreen;
}

.Hufflepuff {
    background: lightyellow;
}

.Ravenclaw {
    background: lightblue;
}